[user]
	name = nikos efthias
	email = nikos@mugsoft.io
[github]
	user = nikos@mugsoft.io
[core]
	excludesfile = /Users/nikos/.gitignore_global
	ignoreCase = false
	autocrlf = input
[push]
	default = current
# [url "git@github.com:"]
# 	insteadOf = https://github.com
#  [url "git@gitlab.mugsoft.io:"]
#  	insteadOf = https://gitlab.mugsoft.io/
[commit]
	gpgsign = true
[alias]
	c = checkout
	d = branch -d
	bla = branch -la
	s = status
	f = fetch -p
	p = push
	prn = fetch --all --prune
	tl = tag -l
	fap = fetch --all --prune
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[pull]
	rebase = false
[init]
	defaultBranch = master
# [gpg]
# 	program = gpg2
