config/.config/configstore/
**/node_modules/
*Brave*
*Keybase*
*Mailspring*

config/.config/autostart/

config/.config/copyq/

config/.config/dconf/
config/.config/evolution/

config/.config/flameshot/
config/.config/flaska.net/
config/.config/keybase/
config/.config/lazygit/**/*.patch

config/.config/lazygit/state.yml
config/.config/pulse/

config/.config/teamviewer/client.conf

config/.config/yarn/global/yarn.lock
config/.config/QtProject.conf
config/.config/mimeapps.list