config/.config/configstore/
**/node_modules/
*Brave*
*Keybase*
*Mailspring*

config/.config/autostart/

config/.config/copyq/

config/.config/dconf/
config/.config/evolution/

config/.config/flameshot/
config/.config/flaska.net/
config/.config/keybase/
config/.config/lazygit/**/*.patch

config/.config/lazygit/state.yml
config/.config/pulse/

config/.config/teamviewer/client.conf

config/.config/QtProject.conf
config/.config/mimeapps.list
config/.config/GIMP/

config/.config/gtk-2.0/gtkfilechooser.ini
rust/.cargo/bin/

rust/.cargo/env
rust/.cargo/registry/

rust/.cargo/.crates.toml
rust/.cargo/.crates2.json
rust/.cargo/.package-cache
config/.config/OpenSCAD/OpenSCAD.conf
config/.config/coc/extensions/coc-rust-analyzer-data/rust-analyzer
config/.config/coc/extensions/coc-toml-data/schemas/842614c23c7a7c4d872d71ec1a207277f8126d32f5336bda93e715f192886da2.json
config/.config/coc/extensions/coc-toml-data/schema_index.json
rust/.cargo/git/

config/.config/qBittorrent/

config/.config/vlc/
config/.config/yarn/

config/.config/cef_user_data/
config/.config/discord/

config/.config/coc/extensions/coc-xml-data/org.eclipse.lemminx-0.17.1-uber.jar