config/.config/configstore/
**/node_modules/
*Brave*
*Keybase*
*Mailspring*

config/.config/autostart/

config/.config/copyq/

config/.config/dconf/
config/.config/evolution/

config/.config/flameshot/
config/.config/flaska.net/
config/.config/keybase/
config/.config/lazygit/**/*.patch

config/.config/lazygit/state.yml
config/.config/pulse/

config/.config/teamviewer/client.conf

config/.config/QtProject.conf
config/.config/mimeapps.list
config/.config/GIMP/

config/.config/gtk-2.0/gtkfilechooser.ini
rust/.cargo/bin/

rust/.cargo/env
rust/.cargo/registry/

rust/.cargo/.crates.toml
rust/.cargo/.crates2.json
rust/.cargo/.package-cache
config/.config/OpenSCAD/OpenSCAD.conf
config/.config/coc/extensions/coc-rust-analyzer-data/rust-analyzer
config/.config/coc/extensions/coc-toml-data/schemas/842614c23c7a7c4d872d71ec1a207277f8126d32f5336bda93e715f192886da2.json
config/.config/coc/extensions/coc-toml-data/schema_index.json
rust/.cargo/git/

config/.config/qBittorrent/

config/.config/vlc/
config/.config/yarn/

config/.config/cef_user_data/
config/.config/discord/

config/.config/coc/extensions/coc-xml-data/org.eclipse.lemminx-0.17.1-uber.jar
config/.config/coc/commands
config/.config/coc/list-commands-history.json
config/.config/gtk-3.0/bookmarks

config/.config/coc/list-marketplace-history.json
config/.config/VirtualBox/*

config/.config/coc/list-symbols-history.json
config/.config/coc/list-lists-history.json
config/.config/coc/list-extensions-history.json
config/.config/coc/lists
config/.config/coc/snippets-mru
config/.config/exercism/user.json
config/.config/kdeconnect/*

config/.config/libreoffice/*

config/.config/nautilus/*
config/.config/skypeforlinux/*

config/.config/solaar/*
config/.config/thefuck/*
config/.config/xournalpp/*
config/.config/user-dirs.dirs
config/.config/pavucontrol.ini
config/.config/user-dirs.locale
rust/.cargo/credentials

config/.config/coc/extensions/coc-sqlfluff-data/

config/.config/coc/extensions/coc-tabnine-data/

config/.config/coc/list-sources-history.json
config/.config/coc/extensions/coc-go-data/bin/gopls
tmux/.tmux/plugins/tmux-*
config/.config/coc/list-diagnostics-history.json
/config/.config/coc/extensions/coc-lua-data/

config/.config/coc/suggest.txt
config/.config/fish/functions/proxy_connecteds.fish
config/.config/fish/functions/trp.fish
/config/.config/nvim/plugin/packer_compiled.lua
/config/.config/coc/list_history.dat
/config/.config/coc/memos.json
/config/.config/coc/extensions/*
!/config/.config/coc/extensions/package.json
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/usage_data.json
