[Unit]
Description=Kanata keyboard remapper
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/nikos/.cargo/bin/kanata --cfg %h/.config/kanata/kanata.kbd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
