snippet log!
console.log($1)
endsnippet
snippet _ignore
//@ts-ignore
endsnippet
snippet _grid
<Grid ${1:item} $2> ${0:${VISUAL}} </Grid>
endsnippet

snippet _state
const [$1,set_$1] = useState($2 ${3:as })
endsnippet
snippet ////
/*$1*/
endsnippet
